/* TABLET VIEW */
@media (max-width: 1000px) {
    .aboutme_con {flex-direction: column;}
    .aboutme_con .aboutme_info {width: 100%;}
    .aboutme_other {width: 100%;}
}

@media (max-width: 800px) {
    .burger {display: grid;}
    #menuClose {display: block;}

    #nav {width: 100%;   max-width: 300px;}
    #nav.sideMenu ul li a {padding: 1rem .5rem;}
    #nav.sideMenu ul li a:hover {color: #000; text-shadow: none;}

    .footer_top_con {flex-direction: column;}
    .glass-container {width: 100%;  max-width: 100%;}
    .info_con {width: 100%;  max-width: 100%;}

    .bottom_con .webcard {padding: 0;}
    .webcard .owl-nav {position: inherit;   transform: none;   margin-top: 1.2rem;   justify-content: center;   gap: 2rem;}

    .divider {display: none;}
}

/* MOBILE VIEW */
@media (max-width: 600px) {
   .glass-box {padding: 1.5rem;}

   #nav {width: 100%;   max-width: 280px;}

   .company-info {padding-left: 0;}
   .company-info img {position: inherit;   transform: none;   margin-bottom: 1rem;}
   .company-info .company-info-yr {position: inherit;}
}

@media (max-width: 500px) {
    .aboutme_info section {padding: 0;}
    .aboutme_con .aboutme_info img {position: inherit; margin-bottom: 1.5rem;}
    .techSkill li {width: 100%;}
}